body {
  background-color: blue;
}
#pong {
  border: 2px solid #fff;
  position: absolute;
  margin: auto;
  top: 40;
  right: 50;
  left: 0;
  bottom: 0;
}
canvas {
  background-color: aqua;
}
